{% extends 'users/ubase.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">
    <div class=row>
        <div class=" brand">
                <img src='/static/images/' class="pongezzi" alt="picture">
                <div class="vl">
                    <p class="imgtxt"> Awarding Kenyan websites </p>
                </div>
            </div>

        <div class="col-md-6 formz">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group form">
                        <legend class="border-bottom mb-4"><p class="smalltxt"><b>Sign in to continue</b></p></legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group form">
                        <button class="btn btn-outline-success" type="submit">Login Now</button>
                    </div>
                </form>
                <div class="border-top pt-3 below">
                    <small class="text-muted">Not a member yet? <a class="ml-2" href="{% url 'register' %}">Register here</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}